.countries-container{
    width: 1120px;
    margin: 0px auto;
    /* background: #78b4e9; */
    color: rgb(202, 30, 187);

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}